:root {
  --container-width: 1230px;
  --container-padding: 15px;

  --font-main: 'Montserrat', sans-serif;

  --text-back: #000;
  --text-white: #fff;
  --text-second: #73a6b1;

  --bg-primary: #fff;
  --bg-second: #f1fdff;
  --bg-btn: #7ae5fd;
  --bg-white: #fff;
  --bg-footer: #f9fadf;

  --line-decor: #9ad2de;
}

/* Reset and base styles  */
* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Links */

a,
a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

/* Common */

aside,
nav,
footer,
header,
section,
main {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-size: inherit;
  font-weight: inherit;
}

ul,
ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img,
svg {
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

/* Form */

input,
textarea,
button,
select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button,
input[type='submit'] {
  display: inline-block;
  box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus,
input:active,
button:focus,
button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

/* utils */

body {
  font-family: var(--font-main), sans-serif;
  background-color: var(--bg-primary);
  color: var(--text-back);
}

.container {
  max-width: var(--container-width);
  padding: 0 var(--container-padding);
  margin: 0 auto;
}

/* header */

.header__rows {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 40px 0;
}

.nav {
  display: flex;

  gap: 24px;
}

.nav-list {
  display: flex;
  align-items: center;

  gap: 56px;
}

.nav-list__item > .nav-list__link {
  font-size: 18px;
  font-weight: 400;
  line-height: 1.2;

  color: var(--text-back);
}

.nav__btn {
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 21px 35px;

  border-radius: 87px;
  background: var(--bg-btn);
}

/* hero */

.hero {
  padding: 202px 0;
  background: url('../img/hero.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero-wrapper {
  display: grid;

  gap: 20px;

  max-width: 686.313px;

  margin-left: 105px;
}

.hero__title {
  font-size: 65px;
  font-weight: 800;
  line-height: 94.9%;
  text-transform: uppercase;

  color: var(--text-white);
}

.hero__text {
  max-width: 440px;

  font-size: 20px;
  font-weight: 400;
  line-height: 1.2;
}

.hero__btn {
  display: flex;
  padding: 21px 35px;
  justify-content: center;
  align-items: center;

  width: 283px;

  border-radius: 87px;
  background: var(--bg-white);
}

/* warVictimsFund */

.warVictimsFund {
  display: grid;

  gap: 15px;
  padding: 160px 0;

  text-align: center;
}

.warVictimsFund__title--primary {
  font-size: 60px;
  font-weight: 400;
  line-height: 1.2;
  text-transform: uppercase;
}

.warVictimsFund__title--second {
  font-size: 27px;
  font-weight: 400;
  line-height: 1.2;

  margin-bottom: 10px;
}

.warVictimsFund__text {
  font-size: 20px;
  font-weight: 400;
  line-height: 1.2;

  color: var(--text-second);
}

/* information */

.information {
  padding-bottom: 160px;
}

.information-list {
  display: grid;

  gap: 50px;
}

.information-list__item {
  display: flex;

  gap: 62px;

  padding: 40px 62px;

  border-radius: 10px;
  background-color: var(--bg-second);
}

.information-list__disc {
  display: grid;

  max-width: 527px;

  gap: 10px;
}
.information__title--primary {
  font-size: 46px;
  font-weight: 400;
  line-height: 1.2;
  text-transform: uppercase;
}

.information__title--second {
  font-size: 20px;
  font-weight: 600;
  line-height: 1.2;
}

.information__text {
  font-size: 20px;
  font-weight: 400;
  line-height: 1.2;
}

.information-wrapper__btn {
  display: flex;
  justify-content: center;

  margin-top: 50px;
}

.information__btn {
  padding: 21px 35px;

  border-radius: 87px;
  background-color: var(--bg-btn);

  font-size: 18px;
  font-weight: 400;
  line-height: 1.2;
  text-transform: uppercase;
}

/* notLeftAlone */

.notLeftAlone {
  padding: 220px 0 140px;
}

.notLeftAlone-wrapper {
  position: relative;

  padding: 90px 62px;

  background-color: var(--bg-second);
}

.notLeftAlone__text {
  max-width: 557px;

  font-size: 28px;
  font-weight: 400;
  line-height: 1.2;
}

.notLeftAlone__img {
  position: absolute;
  bottom: 0px;
  right: 20px;

  z-index: 2;
}

.notLeftAlone__img--decor {
  position: absolute;
  bottom: 40px;
  right: -90px;
}

/* help-work */

.help-work {
  padding-bottom: 160px;
}

.help-work-wrapper {
  display: grid;

  gap: 50px;
}

.help-work__title {
  text-align: center;
}
.help-work__title > h2 {
  font-size: 60px;
  font-weight: 400;
  line-height: 1.2;
  text-transform: uppercase;
}

.help-work__title > p {
  font-size: 20px;
  font-weight: 400;
  line-height: 1.2;
  color: var(--text-second);
}

.collection {
  display: grid;

  gap: 17px;

  text-align: center;
}

.collection__title {
  font-size: 27px;
  font-weight: 400;
  line-height: 1.2;
}
.collection-list {
  display: flex;
  justify-content: center;
  align-items: center;

  gap: 32px;
}

.collection-list__item {
  position: relative;

  font-size: 60px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.2;
  text-transform: uppercase;
}

.collection-list__item:not(:last-child)::after {
  content: '';
  position: absolute;
  right: -13px;
  top: 0;

  transform: translateX(-50%);
  width: 2px;
  height: 100%;

  background-color: var(--line-decor);
}

.help-work__btn {
  display: flex;
  justify-content: center;
  align-items: center;
}
.help-work__btn > button {
  padding: 21px 35px;

  font-size: 18px;
  font-weight: 400;
  line-height: 1.2;
  text-transform: uppercase;

  background-color: var(--bg-btn);
  border-radius: 87px;
}

/* footer */

.footer {
  padding: 50px 0 160px;

  background-color: var(--bg-footer);
}

.footer_colum {
  display: grid;

  gap: 50px;
}

.contact {
  display: flex;
  justify-content: space-between;
}

.contact__title {
  text-align: center;
  font-size: 60px;
  font-weight: 400;
  line-height: 1.2;
  text-transform: uppercase;
}

.contact-information {
  display: grid;

  gap: 57px;
}

.contact__text {
  max-width: 310px;

  font-size: 20px;
  font-weight: 400;
  line-height: 1.2;
}

.number {
  font-weight: 700;
}

.social__link {
  display: flex;
  align-items: center;

  gap: 16px;
}

/* form */

.section-form {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 60px;

  background-color: var(--bg-primary);

  border-radius: 10px;
}

.form {
  max-width: 540px;
}

.form__text {
  font-size: 27px;
  font-weight: 400;
  line-height: 1.2;

  margin-bottom: 39px;
}

.form__input {
  width: 100%;
  padding: 21px 0 21px 43px;

  background-color: var(--bg-footer);

  border-radius: 61px;

  margin-bottom: 31px;
}

.form__input::placeholder {
  font-size: 20px;
  font-weight: 400;
  line-height: 1.2;
}

.form__btn {
  width: 100%;

  padding: 21px 35px;

  font-size: 18px;
  font-weight: 400;
  line-height: 1.2;
  text-transform: uppercase;

  border-radius: 87px;
  background-color: var(--bg-btn);
}

* {
  outline: 2px solid red;
}
